[Unit]
Description=SMTP Verifier API
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/email-verify/smtp_verifier_api.py
WorkingDirectory=/opt/email-verify
Restart=always
User=root

[Install]
WantedBy=multi-user.target
